<html>
<head>
	<title>
		Clinic@Point
	</title>
	<style>
		table, th, td {
    		border: 2px solid #b1ff18;
    		border-collapse: collapse;
		}
		th, td {
    		padding: 5px;
    		text-align: left;
		}
    th{
        background-color: #99bbff;
        color: #FFFFFF;
    }
    h1{
      color:#b1ff18;
      background-color: #3366ff;
      font-family: Arial;
    }
	</style>
</head>
<body>
	<h1>Appointments analytics</h1>
	<table style="width:30%">
		<tr>
    		<th>Waiting:</th>
    		<td>{{ waiting }}</td>
  		</tr>
  		<tr>
    		<th>Confirmed:</th>
    		<td>{{ confirmed }}</td>
  		</tr>
  		<tr>
    		<th>Finalized:</th>
    		<td>{{ finalized }}</td>
  		</tr>
  		<tr>
    		<th>Total:</th>
    		<td>{{ total }}</td>
  		</tr>
	</table>
</body>
</html>